<!--The content below is only a placeholder and can be replaced.-->
Examples:
<a routerLink="/simple-elements" routerLinkActive="active">Simple Elements</a> |
<a routerLink="/simple-validation" routerLinkActive="active">Simple Validation</a> |
<a routerLink="/complex-form" routerLinkActive="active">Complex Form</a> |
<a routerLink="/complex-validation" routerLinkActive="active">Complex Validation</a> |
<a routerLink="/data-manipulation" routerLinkActive="active">Data Manipulation</a>

<router-outlet></router-outlet>